@import '../fonts/quicksand.css';
/* Font Imports */
/*@import 'http://fonts.googleapis.com/css?family=Raleway:400,300';*/
/*Colors*/
/*Color Aliases*/
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
@media print, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*variable definitions*/
/* commons */
body {
  font-family: 'Quicksand', Helvetica, serif;
  background: url(../../img/pattern.png) repeat;
  color: #752225;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 20px;
}
input,
button,
label {
  font: 'Quicksand', Helvetica, serif;
  color: #752225;
  font-size: 1em;
}
h1 {
  font-size: 3.2em;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.4em;
}
input {
  font-size: 0.889em;
}
/* style definitions*/
.wrapper {
  /*width: 1400px;*/
  /*margin: 0 auto;*/
}
.wrapper .header {
  top: 0;
  left: 0;
  text-align: center;
}
.wrapper .header .banner {
  background: url(../../img/banner.png) no-repeat;
  height: 230px;
  background-position-x: center;
  /*h1 {
				margin: 0;
				font-size: @header-font-size;
				font-weight: 300;
			}*/
}
.wrapper .header nav a {
  text-decoration: none;
  color: #752225;
  margin: 0 30px;
  padding: 5px 10px;
  /*font-weight: 700;*/
  font-size: 1.4em;
  -webkit-transition: 0.3s color;
  -moz-transition: 0.3s color;
  -ms-transition: 0.3s color;
  -o-transition: 0.3s color;
  /*.transition(0.3s font-weight);*/
}
.wrapper .header nav a.selected {
  color: #d8b76f;
}
.wrapper .header nav a:hover {
  color: #d8b76f;
}
.wrapper .header .divider {
  width: 560px;
  height: 14px;
  background: url(../../img/divider.png) no-repeat;
  margin: 10px auto 5px auto;
}
.wrapper .body-container .main-banner {
  padding: 20px 0 0 0;
  height: 600px;
  background: url(../../img/IMG_0425.png) no-repeat;
  background-size: cover;
  /*background: url(../../img/board.png) no-repeat;*/
  -webkit-transition: opacity 1.6s;
  -moz-transition: opacity 1.6s;
  -ms-transition: opacity 1.6s;
  -o-transition: opacity 1.6s;
  /*.perspective(100);*/
  opacity: 0.6;
}
.wrapper .body-container .main-banner .banner-unit {
  text-align: center;
  padding: 25px 0;
  background: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
}
.wrapper .body-container .main-banner .banner-unit.announcement {
  /*.transition(transform 0.6s);*/
  /*.rotateX(30deg);*/
  width: 600px;
  margin-top: 50px;
  font-size: 2.8em;
}
.wrapper .body-container .main-banner .banner-unit.dates {
  /*.transition(transform 0.8s);*/
  /*.rotateY(90deg);*/
  font-size: 3em;
  width: 500px;
  padding: 40px 0;
  margin-top: 80px;
}
.wrapper .body-container .main-banner.animate {
  opacity: 1;
  /*.banner-unit.announcement {
					.rotateX(0deg);
				}
				.banner-unit.dates {
					.rotateY(0deg);
				}*/
}
.wrapper .body-container .body-section {
  text-align: justify;
  margin: 60px 0 0 0;
  /*padding: 0 16px;*/
  font-size: 1em;
  line-height: 26px;
  /* Location section*/
  /* RSVP form*/
}
.wrapper .body-container .body-section h2 {
  padding-left: 40px;
  background: url('../../img/brush.png') no-repeat;
  background-position-y: center;
  font-size: 2.2em;
}
.wrapper .body-container .body-section h3.bride-groom {
  text-align: center;
}
.wrapper .body-container .body-section div.body-content {
  margin-left: 10px;
}
.wrapper .body-container .body-section .greetings {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.111em;
}
.wrapper .body-container .body-section .about-us {
  width: 60%;
  min-width: 320px;
  margin: 0 auto;
}
.wrapper .body-container .body-section .about-us .col {
  margin-top: 25px;
}
.wrapper .body-container .body-section .about-us .col .display-img {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.wrapper .body-container .body-section .about-us .col .display-img.him {
  background-image: url('../../img/param1.jpg');
}
.wrapper .body-container .body-section .about-us .col .display-img.her {
  background-image: url('../../img/saran2.jpg');
}
.wrapper .body-container .body-section .about-us .col .info h3,
.wrapper .body-container .body-section .about-us .col .info p {
  text-align: center;
}
.wrapper .body-container .body-section#details .section-description {
  text-align: center;
}
.wrapper .body-container .body-section#details .body-content .events .event .event-title {
  /*font-weight: 700;*/
  font-size: 1.8em;
  text-align: center;
}
.wrapper .body-container .body-section#details .body-content .events .event .event-description {
  font-size: 1.42em;
  font-weight: 300;
  text-align: center;
}
.wrapper .body-container .body-section#details .body-content .events .event ul {
  margin-top: 25px;
  padding-left: 0;
}
.wrapper .body-container .body-section#details .body-content .events .event ul li.event-child {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.wrapper .body-container .body-section#details .body-content .events .event ul li.event-child .title {
  cursor: pointer;
}
.wrapper .body-container .body-section#details .body-content .events .event ul li.event-child .title .collapse,
.wrapper .body-container .body-section#details .body-content .events .event ul li.event-child .title .expand {
  font-size: 0.889em;
}
.wrapper .body-container .body-section#details .body-content .events .event ul li.event-child .title .collapse {
  display: inline;
}
.wrapper .body-container .body-section#details .body-content .events .event ul li.event-child .title .expand {
  display: none;
}
.wrapper .body-container .body-section#details .body-content .events .event ul li.event-child .event-child-wrapper {
  -webkit-transition: 0.4s height;
  -moz-transition: 0.4s height;
  -ms-transition: 0.4s height;
  -o-transition: 0.4s height;
}
.wrapper .body-container .body-section#details .body-content .events .event ul li.event-child .event-child-wrapper .time,
.wrapper .body-container .body-section#details .body-content .events .event ul li.event-child .event-child-wrapper .description {
  margin-left: 30px;
}
.wrapper .body-container .body-section#details .body-content .events .event ul li.event-child .event-child-wrapper .description {
  overflow: hidden;
  height: auto;
}
.wrapper .body-container .body-section#details .body-content .events .event ul li.event-child.closed .title .collapse {
  display: none;
}
.wrapper .body-container .body-section#details .body-content .events .event ul li.event-child.closed .title .expand {
  display: inline;
}
.wrapper .body-container .body-section#details .body-content .events .event ul li.event-child.closed .event-child-wrapper .description {
  height: 0;
}
.wrapper .body-container .body-section#location .address p {
  font-size: 1.222em;
}
.wrapper .body-container .body-section#rsvp form {
  margin: 0 0 0 30px;
}
.wrapper .body-container .body-section#rsvp form input {
  font-size: 0.889em;
  color: #752225;
  /*width: 120px;*/
}
.wrapper .body-container .body-section#rsvp form label {
  /*font-size: @base-font-size;*/
  margin-top: 10px;
  font-weight: 700;
  margin-right: 20px;
}
.wrapper .body-container .body-section#rsvp form .btn-group {
  /*.btn.selected {
							background: @light-gold;
						}*/
  margin-top: 10px;
  margin-bottom: 10px;
}
.wrapper .body-container .body-section#rsvp form .btn-group .btn {
  width: 100px;
  font-family: 'Quicksand', Helvetica, serif;
  font-size: 1em;
}
.wrapper .body-container .body-section#rsvp form .btn-group-wrapper label {
  margin-right: 30px;
}
.wrapper .body-container .body-section#rsvp form .submit-btn {
  margin-top: 20px;
  color: #752225;
  font-family: 'Quicksand', Helvetica, serif;
  font-size: 1em;
  font-weight: 700;
}
.wrapper .body-container .body-section#rsvp .thank-you {
  display: none;
}
.wrapper .body-container .body-section#rsvp .thank-you div {
  margin-left: 30px;
}
.wrapper .scroll-to-top {
  width: 130px;
  /*height: @scrollbtn-height;*/
  padding-top: 5px;
  font-size: 36px;
  bottom: 25px;
  right: 25px;
  text-align: center;
  background: #d8b76f;
  opacity: 0.8;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  position: fixed;
}
@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
  .wrapper .header .banner {
    background: url(../../img/banner-xsmall.png) no-repeat;
    background-position-x: center;
  }
  .wrapper .header .divider {
    width: 320px;
    height: 14px;
    background: url(../../img/divider.png) no-repeat;
    margin: 15px auto 5px auto;
    background-size: contain;
  }
  .wrapper .header nav a {
    display: block;
  }
  .wrapper .body-container .main-banner {
    height: 600px;
  }
  .wrapper .body-container .main-banner .banner-unit.announcement {
    width: 300px;
    font-size: 2.2em;
  }
  .wrapper .body-container .main-banner .banner-unit.dates {
    width: 300px;
    font-size: 2.4em;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /*.wrapper {
		.header {
			.banner {
				background: url(../../img/banner-small.png) no-repeat;
				background-position-x: center;
			}
		}
	} */
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .wrapper .header .banner {
    background: url(../../img/banner-large.png) no-repeat;
    background-position-x: center;
  }
}
